.header
{
	width:100%;
	height: 80px;
	background-color:  #202628;
}
.navbar 
{
	margin:0px;
}
.navbar-inverse .navbar-nav > li > a 
{
  color: #e7e7e7;
  font-size: 13px;
  font-family: "Myriad Pro";
}
.navbar-inverse .navbar-nav > li > a :focus
{
  color: #e7e7e7;
}
.navbar-inverse .navbar-brand 
{
  color: #e7e7e7;
  font-size: 25px;
  font-family: "Myriad Pro";
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus 
{
  background-color: #e84c3d;
}

.container li:hover
{
	background-color: #e84c3d;
}

.banner
{
	width:100%;
	position: relative;
}
.banner .image
{
	margin-right: 0px;
	margin-left: 0px;
	background-repeat:no-repeat; 
	background-size:cover; 
	background-position:center center; 
}

.banner .image_content
{
	padding-top: 190px;
}

.banner .text
{
	font-size: 31px;
	font-family: "Myriad Pro"
	text-transform: uppercase;
	padding-top:10px;
	color:#e7e7e7;
}

.banner .red_text
{
	font-size: 15px;
	font-family: "Myriad Pro"
	text-transform: uppercase;
	color: #e84c3d;
}

.banner .item h2
{
	font-size: 31px;
	text-transform: uppercase;
	padding-top:10px;
}

.banner .item h4
{
	font-size: 31px;
	text-transform: uppercase;

}

.banner .banner_text
{
	padding-bottom: 50px;
}

.under_banner
{
	width:100%;
	position: relative;
	background-color: #e7e7e7;

}

.under_banner .row
{
	padding-top: 35px;
	margin-left: :0px;
	margin-right: 0px;
	padding-bottom: 35px;

}
.icon
{
	padding-top: 20px;
}
.under_banner_div i
{
	padding-top: 50px;
}

.under_banner_div h2
{
	color:black;
	font-size: 21px;
	font-family: "Myriad Pro";
}
.under_banner_div p
{
	text-align: justify;
	color:#7a7a7a;
	font-size: 14px;
	font-family: "Myriad Pro";
	line-height: 1.7;
}
.under_banner_div a
{
	text-align: justify;
	color:red;
	font-size: 14px;
	font-family: "Myriad Pro";
	line-height: 1.7;
}

.content
{
	width:100%;
	position: relative;
	background-color: #FFFFFF;
	padding-top: 70px;
}

.content .row
{
	margin-right: 0;
    margin-left: 0;
    padding-bottom: 25px;

}

.content .content_h p
{
	color:red;
	font-size: 20px;
	font-family: "Myriad Pro";
	padding-top: 10px;
}

.content .content_teksti p
{
	color:#767c7e;
}

.content .content_h
{
	border-top-style: solid;
    border-bottom-style: solid;
    border-color:#E7E7E7;
}

.content img
{
    max-height:100%;
    max-width:100%;
}

.button
{
	border-radius: 10px;
	background-color: #e84c3d;
	font-size:14px;
	font-family: "Myriad Pro";
	color:white;
}

.conten_2 .row
{
	margin-right: 0px;
	margin-left: 0px;
}

.conten_a
{
	border-style: solid;
	border-radius: 10px;
    border-color:#e84c3d;
    background-color: #e84c3d;
}
.con_text
{
	padding-top: 35px;
	padding-bottom: 35px;
}

.con_text h4 
{
	color:white;
	font-family: "Myriad Pro";
	font-size: 21px;
}
.con_text p
{
	color:white;
	font-family: "Myriad Pro";
	font-size: 16px;
}

.icon_n
{
	padding-top: 50px;
}

.con_text2
{
	color: white;
	font-family: "Myriad Pro";
	font-size: 21px;
}
.c_button
{
	border-radius: 10px;
	font-size:14px;
	font-family: "Myriad Pro";
	background-color: black;
	border-color: black;
	color:white;

}

.con_button
{
	padding-top: 52px;
}

.con_part2
{
	padding-top: 35px;
}
.con_part2 h4
{
	padding-bottom: 10px;
}


.conten_3
{
	padding-bottom: 60px;
}

.conten_3 .row
{
	margin-right: 0;
    margin-left: 0;
}

.conten_3 .h3
{
	font-size: 21px;
	font-family: "Myriad Pro";
	color: #202628;
}

.conten_3 .div_left .row
{
	border-bottom-style:solid;
	border-color: #E7E7E7;
}

.conten_3 .div_left .div_title
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.conten_3 .div_left .div_text
{
	padding-top: 17px;
	padding-bottom: 16px;
	color:#767c7e;
}

.conten_3 .under_div_text a
{
	text-align: justify;
	color:red;
	font-size: 14px;
	font-family: "Myriad Pro";
	line-height: 1.7;
}
.conten_3 .div_center .row
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.conten_3 .div_center .div_text
{
	background-color: #e7e7e7;
	border-radius: 5px;
	padding-bottom: 35px;
}
.conten_3 .div_center input
{
	border-radius: 30px;
}

.conten_3 .div_center .teksti
{
	font-size: 12px;
	font-family: "Myriad Pro";
	color:#767c7e;
}
.conten_3 .div_center button
{
	background-color: #e84c3d;
	color:white;
	border-color: #e84c3d;

}

.conten_3 .div_right .row
{
	border-bottom-style:solid;
	border-color: #E7E7E7;
}

.conten_3 .div_right .div_title
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.conten_3 .div_right i
{
	padding-top: 10px;

}

.conten_3 .div_right .div_text h4
{
	color: red;
	font-size: 16px;
	font-family: "Myriad Pro";
}

.conten_3 .div_right .div_text p
{
	font-size: 14px;
	font-family: "Myriad Pro";
	padding-bottom: 10px;
	position: relative;
	color:#767c7e;
}
.footer
{
	width:100%;
	position: relative;
	background-color: #202628;
}

.footer .row
{
	 margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
}
 .footer .web_adresa
 {
 	color:#767c7e;
 	font-size: 14px;
 	font-family: "Myriad Pro";
 	padding-top: 0px;
 }

  .footer .web_adresa span
 {
 	color:#e84c3d;
 }

.footer .iconat img
{
	padding-top: 25px;
}

.footer .navigation  li
{
	list-style: none;
	display: inline-block;
	

}

.footer .navigation  a
{
	
	font-size: 14px;
	font-family: "Myriad Pro";
	color: #939595;

}

.footer .black_part
{
	padding-bottom: 40px;
}